.App {
  text-align: center;
  background: rgba(0,0,0,.9)
}
body{
  background:rgba(0,0,0,.9);
  color: white;
}
/* .ant-list-item-meta-title,.ant-list-item-meta-description,.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title ,.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title,.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title{
  color: white;
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.vh-100{
  /* height: 100vh; */
  height: calc( 100vh - 55px);
}
footer{
  background: rgba(0,0,0,.9);
  font-size: 16px;
}
.overflow-scroll{
  overflow: scroll;
}
h4{
  font-size: 45px;
  color: white;
}
.App p{
  width:53%;
  margin: 0 auto;
  color: white;
  font-size: 16px;
}
.card{
  color: black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
